<section class="clients text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear" data-aos-anchor="#example-anchor">
    <h3 class="clients__title font-weight-semi">💼 Clientes</h3>
    <p class="clients__subtitle">He prestado mis servicios tanto a <strong>grandes compañías</strong> como a recien creadas <strong>startups disruptivas</strong>.</p>

    <div class="clients__content container-md">
        <div class="d-flex flex-wrap align-items-center justify-content-around justify-content-sm-center mx-md-8">
            <a class="d-flex align-items-center clients__item px-md-3" href="//www.accenture.com/es-es" data-bs-toggle="tooltip" data-bs-placement="top" title="Accenture España"  target="_blank" rel="noopener" aria-label="Enlace con accenture, Accenture es una empresa global de servicios profesionales que ofrece una amplia gama de servicios y soluciones.">
                <img data-src="img/company/logo-accenture.svg" class="lozad filter--color img-fluid" alt="Accenture es una empresa global de servicios profesionales que ofrece una amplia gama de servicios y soluciones." title="Logo accenture"> </a>

            <a class="d-flex align-items-center clients__item px-md-3" href="//www.tiendanimal.es/" data-bs-toggle="tooltip" data-bs-placement="top" title="Tiendanimal" target="_blank" rel="noopener" aria-label="Enlace con tiendanimal, tienda online para mascotas.">
                <img data-src="img/company/logo-tiendanimal.svg" class="lozad filter--color img-fluid" alt="Tiendanimal, tienda online para mascotas." title="Logo tiendanimal"> </a>
            
                <a class="d-flex align-items-center clients__item px-md-3" href="//www.kiwoko.com/" data-bs-toggle="tooltip" data-bs-placement="top" title="Kiwoko" target="_blank" rel="noopener" aria-label="Enlace con kiwoko, tienda online para mascotas.">
                <img data-src="img/company/logo-kiwoko.svg" class="lozad filter--color img-fluid" alt="kiwoko, tienda online para mascotas." title="Logo kiwoko"> </a>

            <a class="d-flex align-items-center clients__item px-md-3" href="//www.famaex.com/" data-bs-toggle="tooltip" data-bs-placement="top" title="Famaex" target="_blank" rel="noopener" aria-label="Enlace con famaex, Gestión Integral de Mantenimiento y Reparaciones">
                <img data-src="img/company/logo-famaex.svg" class="lozad filter--color img-fluid" alt="Gestión Integral de Mantenimiento y Reparaciones" title="Logo famaex"> </a>

            <a class="d-flex align-items-center clients__item px-md-3" href="//olecosta.realbooking.net/es" data-bs-toggle="tooltip" data-bs-placement="top" title="Olecosta" target="_blank" rel="noopener" aria-label="Enlace con olecosta, Apartamentos en la Costa del Sol">
                <img data-src="img/company/logo-olecosta.svg" class="lozad filter--color img-fluid" alt="Apartamentos en la Costa del Sol" title="Logo olecosta"> </a>

            <a class="d-flex align-items-center clients__item px-md-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Universidad de Elche" href="//elche.me/" target="_blank" rel="noopener" aria-label="Enlace con Elche.me, Memoria Digital de Elche">
                <img data-src="img/company/logo-elche.svg" class="lozad filter--color img-fluid" alt="Elche.me, Memoria Digital de Elche" title="Logo Elche.me"> </a>

            <a class="d-flex align-items-center clients__item px-md-3" href="//www.creativat.com/" data-bs-toggle="tooltip" data-bs-placement="top" title="Creativat" target="_blank" rel="noopener" aria-label="Enlace con Creativat, conseguimos que tu marca triunfe en internet. 360° en comunicación y estrategia Online">
                <img data-src="img/company/logo-creativat.svg" class="lozad filter--color img-fluid" alt="Creativat, conseguimos que tu marca triunfe en internet. 360° en comunicación y estrategia Online" title="Logo Creativat"> </a>

            <a class="d-flex align-items-center clients__item px-md-3" href="//www.clickferry.com/" data-bs-toggle="tooltip" data-bs-placement="top" title="Clickferry" target="_blank" rel="noopener" aria-label="Enlace con clickferry, Billetes de ferry y barco al mejor precio">
                <img data-src="img/company/logo-clickferry.svg" class="lozad filter--color img-fluid" alt="Billetes de ferry y barco al mejor precio" title="Logo clickferry"> </a>

            <a class="d-flex align-items-center clients__item px-md-3" href="//www.atrinium.com/" data-bs-toggle="tooltip" data-bs-placement="top" title="Atrinium" target="_blank" rel="noopener" aria-label="Enlace con atrinium, Atrinium Software | Insurance Software Solutions">
                <img data-src="img/company/logo-atrinium.svg" class="lozad filter--color img-fluid" alt="Atrinium Software | Insurance Software Solutions" title="Logo atrinium"> </a>

            <a class="d-flex align-items-center clients__item px-md-3" href="//mbustos.com/" data-bs-toggle="tooltip" data-bs-placement="top" title="Grupo Muñoz Bustos" target="_blank" rel="noopener" aria-label="Enlace con Grupo Muñoz Bustos, servicio integral de consultoría, asesoramiento y gestión tanto a particulares como empresas">
                <img data-src="img/company/logo-munoz-bustos.svg" class="lozad filter--color img-fluid" alt="Grupo Muñoz Bustos, servicio integral de consultoría, asesoramiento y gestión tanto a particulares como empresas" title="Logo Grupo Muñoz Bustos"> </a>
        </div>
    </div>
</section>