<section class="clients">
    <h3 class="clients__title font-weight-semi text-center">💼 Servicios</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="service-home-box">
                <img src="https://uploads-ssl.webflow.com/6193e2bb6656b460eef2d6a7/6193e2bc6656b494adf2d6e0_chess-pieces%205.svg"
                    loading="lazy" alt="" class="service-icon">
                <h2>Consultoría UX</h2>
                <div>
                    <p>Ayudamos en tus decisiones desde un punto de vista tecnológico, (análisis de oportunidades,
                        due diligence, etc)</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="service-home-box">
                <img src="https://uploads-ssl.webflow.com/6193e2bb6656b460eef2d6a7/6193e2bc6656b494adf2d6e0_chess-pieces%205.svg"
                    loading="lazy" alt="" class="service-icon">
                <h2>Análisis de usuarios</h2>
                <div>
                    <p>Ayudamos en tus decisiones desde un punto de vista tecnológico, (análisis de oportunidades,
                        due diligence, etc)</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="service-home-box">
                <img src="https://uploads-ssl.webflow.com/6193e2bb6656b460eef2d6a7/6193e2bc6656b494adf2d6e0_chess-pieces%205.svg"
                    loading="lazy" alt="" class="service-icon">
                <h2>Diseño UX/UI</h2>
                <div>
                    <p>Ayudamos en tus decisiones desde un punto de vista tecnológico, (análisis de oportunidades,
                        due diligence, etc)</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="service-home-box">
                <img src="https://uploads-ssl.webflow.com/6193e2bb6656b460eef2d6a7/6193e2bc6656b494adf2d6e0_chess-pieces%205.svg"
                    loading="lazy" alt="" class="service-icon">
                <h2>Implementación de producto</h2>
                <div>
                    <p>Ayudamos en tus decisiones desde un punto de vista tecnológico, (análisis de oportunidades,
                        due diligence, etc)</p>
                </div>
            </div>
        </div>
    </div>
</section>