<section class="hero position-relative">

    <div class="hero__content position-relative z-1">
        <div class="position-relative overflow-hidden z-2">
            <h1 class="hero__subtitle hero__subtitle--giro position-absolute h-100 color-white m-0"><span class="d-none d-md-block">Diseñador <span class="font-weight-semi">UI/UX</span></span></h1>
            <div class="hero__body py-2 py-md-3">
                <p class="hero__entrance m-0">👋 Hola, soy Peikor.</p>
                <h2 class="hero__title"><strong>Diseñador UI/UX</strong><br /> especilizado en construir<br /><strong>experiencias digitales únicas</strong>.</h2>
                <p class="hero__paragraph color-main">Durante mi carrera he tenido la oportunidad de trabajar en <strong>todas las fases de creación de un producto digital, desde el diseño visual, hasta el liderazgo de equipos UX y desarrollo</strong> en muchos proyectos de varios sectores como <strong>seguros, mascotas, inmobiliarias, viajes...</strong> para clientes como 
                    <a href="https://www.accenture.com/es-es" target="_blank" class="link--magic" aria-label="Enlace al sitio web de accenture españa"><strong>Accenture</strong></a>, 
                    <a href="https://www.tiendanimal.es/" target="_blank" class="link--magic" aria-label="Enlace al sitio web de Tiendanimal"><strong>Tiendanimal</strong></a>, 
                    <a href="https://www.kiwoko.com/" target="_blank" class="link--magic" aria-label="Enlace al sitio web de Kiwoko"><strong>Kiwoko</strong></a>, 
                    <a href="https://atrinium.com/" target="_blank" class="link--magic" aria-label="Enlace al sitio web de Atrinium"><strong>Atrinium</strong></a>, entre otros.
                </p>
                <p class="hero__paragraph color-main">Actualmente, trabajo como <strong>responsable del equipo de UX</strong> del grupo <a href="https://www.linkedin.com/company/iskaypet-tiendanimal-kiwoko-kivet-clinicanimal-vetsum/mycompany/" target="_blank" class="link--magic" aria-label="Enlace al perfil de iskaypet en linkedin"><strong>iskaypet</strong></a>
                </p>
                <p  class="hero__paragraph color-main">Si deseas conocer más acerca de mi experiencia profesional puedes <a class="link--magic" href="../img/francisco-moreno-lópez-UX_UI.pdf" download><strong>descargar mi CV</strong></a></p>
            </div>
        </div>
        <div class="hero-deco position-absolute w-100 h-100 d-none d-sm-block">
            <div class="hero-deco__plus hero-deco__plus--top position-absolute">
                <svg class="plus plus--xs fill-purple" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                    <title>plus-icon</title>
                    <path d="M357,204H204V357H153V204H0V153H153V0h51V153H357Z" />
                </svg>
            </div>

            <div class="hero-deco__plus position-absolute">
                <svg class="plus fill-pink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                    <title>plus-icon</title>
                    <path d="M357,204H204V357H153V204H0V153H153V0h51V153H357Z" />
                </svg>
            </div>
            <div class="hero-deco__shape position-absolute">
                <div class="position-absolute hero-deco__square">
                    <div class="d-flex">
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                    </div>
                    <div class="d-flex">
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                    </div>
                    <div class="d-flex">
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                    </div>
                    <div class="d-flex">
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                    </div>
                    <div class="d-flex">
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                    </div>
                    <div class="d-flex">
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                    </div>
                    <div class="d-flex">
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                    </div>
                    <div class="d-flex">
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                    </div>
                    <div class="d-flex">
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                    </div>
                    <div class="d-flex">
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                        <div class="dot bg-pink m-1"></div>
                    </div>
                </div>
                <div class="hero-deco__circle bg-purple rounded-circle"></div>
            </div>
        </div>
    </div>
    <span class="position-absolute hero-bg text-uppercase">Peikor</span>
</section>