

/* Highlight Text & Animation*/

.highlight {
  position: relative;
  background-origin: 0;
  background-size: 200% 100%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.8s ease-out;
  padding: 4px 0px;
}

.highlight.shown {
  position: relative;
  background-origin: 0;
  background-size: 200% 100%;
  background-repeat: repeat-x;
  background-position: -100% 100%;
  transition: background-position 0.8s ease-out;
  background-image: linear-gradient(to right, transparent 50%, rgb(243, 243, 152) 50%);
}

.highlight-walker {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-walker) 50%);
}

.highlight-walker.shown {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-walker) 50%);
}

.highlight-up {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-up) 50%);
}

.highlight-up.shown {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-up) 50%);
}

.highlight-REI {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-REI) 50%);
}

.highlight-REI.shown {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-REI) 50%);
}

.highlight-cook-fresh {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-cook-fresh) 50%);
}

.highlight-cook-fresh.shown {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-cook-fresh) 50%);
}

.highlight-THD {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-THD) 50%);
}

.highlight-THD.shown {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-THD) 50%);
}

.highlight-eatxplore {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-eatxplore) 50%);
}

.highlight-eatxplore.shown {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-eatxplore) 50%);
}

.highlight-about {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-about) 50%);
}

.highlight-about.shown {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-about) 50%);
}

.highlight-thriller {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-thriller) 50%);
}

.highlight-thriller.shown {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-thriller) 50%);
}

.highlight-photos {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-photos) 50%);
}

.highlight-photos.shown {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-photos) 50%);
}

.highlight-google {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-google) 50%);
}

.highlight-google.shown {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-google) 50%);
}

.highlight-link {
  position: relative;
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-main) 50%);
  background-origin: 0;
  background-size: 200% 30%;
  background-repeat: repeat-x;
  background-position: 0 80%;
  transition: background-position 0.8s ease-out;
  transition-delay: 0.5s;
  padding: 4px 0px;
}

.highlight-link.shown {
  position: relative;
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-main) 50%);
  background-origin: 0;
  background-size: 200% 30%;
  background-repeat: repeat-x;
  background-position: -100% 80%;
  transition: background-position 0.8s ease-out;
  transition-delay: 0.5s;
}
