{{#extend "layouts/page"}}

{{!-- Set the page title --}}
{{#content "title"}}Peikor Diseñador, Desarrollador y Consultor UX/UI en Málaga, Spain{{/content}}
{{#content "css"}}

{{/content}}
{{!-- Set the page content --}}
{{#content "content"}}
    <div class="container-xxl">
        {{>"molecules/_m-hero"}}
        {{>"molecules/_m-clients"}}
        {{>"molecules/_m-contact"}}
        {{>"molecules/_m-lines-wrapper"}}
    </div>
{{/content}}
{{#content "modal"}}
{{/content}}
{{#content "script"}}

{{/content}}
{{/extend}}